#about {
	display: flex;
	flex-direction: row;
	gap: 64px;
	justify-content: space-between;
	align-items: flex-start;

	padding-bottom: 48px;
	border-bottom: 1px solid #999999;

	@media (max-width: 768px) {
		flex-direction: column;
		gap: 24px;
	}
}
