#root {
	display: flex;
	justify-content: center;
}

.page-container {
	max-width: 1200px;
	padding-left: 32px;
	padding-right: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 32px;

	@media (max-width: 768px) {
		padding-left: 20px;
		padding-right: 20px;
		gap: 24px;
	}

	@media (max-width: 480px) {
		padding-left: 16px;
		padding-right: 16px;
		gap: 20px;
	}
}

.main-content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 48px;

	@media (max-width: 768px) {
		gap: 32px;
	}

	@media (max-width: 480px) {
		gap: 24px;
	}
}

.row-section {
	display: flex;
	flex-direction: row;
}

.col-section {
	display: flex;
	flex-direction: column;
}
