#contact {
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.contact-text {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.contact-link-grp {
		display: flex;
		flex-direction: row;
		gap: 24px;
	}

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;

		.contact-link-grp {
			gap: 16px;
			flex-wrap: wrap;
		}
	}
}
