#intro {
	display: flex;
	flex-direction: row;

	padding-bottom: 48px;
	border-bottom: 1px solid #999999;

	.intro-text {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding-right: 128px;
	}

	.intro-img {
		min-height: 320px;
		min-width: 320px;
		background-size: contain;
		border-radius: 50%;
	}

	@media (max-width: 768px) {
		flex-direction: column;
		gap: 24px;

		.intro-text {
			padding-right: 0;
		}

		.intro-img {
			min-height: 200px;
			min-width: 200px;
			max-width: 100%;
			height: auto;
			align-self: center;
		}
	}

	@media (max-width: 480px) {
		.intro-img {
			min-height: 150px;
			min-width: 150px;
		}
	}
}
