@use 'colors' as *;

:root {
	@each $color, $shades in $colors {
		@each $shade, $value in $shades {
			--clr-#{$color}-#{$shade}: #{$value};
		}
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

html {
	height: 100%;
	font-size: 100%;
	overflow-x: hidden;
}

body {
	height: 100%;
	overflow-x: hidden;
}
