h1 {
	font-size: 1.75rem;
	font-weight: 600;

	@media (max-width: 768px) {
		font-size: 1.5rem;
	}

	@media (max-width: 480px) {
		font-size: 1.35rem;
	}
}

h2 {
	font-size: 1.5rem;
	font-weight: 600;

	@media (max-width: 768px) {
		font-size: 1.3rem;
	}

	@media (max-width: 480px) {
		font-size: 1.2rem;
	}
}

p {
	line-height: 1.5;

	@media (max-width: 480px) {
		font-size: 0.95rem;
	}
}
